// Colors
$primary: #f9f9f9;
$secondary: #8d0606;
$tertiary: #e5e5e5;
$quaternary: #cccccc;
$dark_grey: #363636;
$light_grey: #808080;

//Google
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
